
<div class="container">
  <div class="list-group">
    <a href="#" class="list-group-item active">Names</a>
    <% @names.each do |name| %>
      <a href="#" class="list-group-item"> <%= name %></a>
    <% end %>
  </div>
</div>
